   body { 
      background-image: url(../images/backgrounds/paper.jpg);
}

   h2 {
     font-family: Georgia;
     font-size: 24px;
     color: #ff0000;
   }
   
   h3 {
     font-family: Georgia;
     font-size: 16px;
     font-style: italic;
     color: #ff0000;
   }
   

   p {
       font-size: 1.1em;
   }
   pre {
       font-size: 1.1em;
   }
   li {
       font-size: 1.1em;
   }
   
  a:link              { color:red; text-decoration:underline; }
  a:visited           { color:red; text-decoration:underline; }
  a:hover             { color:red; text-decoration:underline; }
  a:active            { color:red; text-decoration:underline; }

