body {
    background-image: url("../images/backgrounds/cthulhu.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  margin: 25px;
}

a:active            { color:white; text-decoration:underline; }  
a:hover             { color:white; text-decoration:underline; }
a:link              { color:white; text-decoration:underline; }
a:visited           { color:white; text-decoration:underline; }

h1 {

    color: ForestGreen;
}

h2 {
    color: ForestGreen;
    border-bottom: 2px solid ForestGreen;
}

h3 {
    color: ForestGreen;
}


td {
    background: rgba(255,255,255,0.66);
    border-right: 1px solid black;
    color: black;
}

td.legend {
    background-color: black;
    color: white;
}

td.spacer {
    background: rgba(255,255,255,0);
}
  
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: ForestGreen;
