  td.title {
    width: 39%;
  }

  td.titlepp {
    width: 46%;
  }

  td.system {
    width: 7%;
  }

  td.author {
    width: 34%;
  }

  td.issue {
    width: 4%;
  }

  td.aka {
    width: 10%;
  }
  
  
  td.pages {
    width: 9%;
  }  
