/* I. INTRO */

/* Headers */

h1 {
    color: #ff0000;
    font-style: italic;
    font-weight: 3000;
}
  
h2 {
    color: #000000;
    border-bottom: 1px solid #000000;
    width: 100%;
    display: block;
    margin-bottom: 6px;
}

.colorbar {
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
    background-color: lightgray;;
    padding: 6px;
    box-sizing: border-box;
    border: 1px solid black;
}
  

.nounderline {
    border-bottom: 0px;
}
  
.underline {
    border-bottom: 2px solid #ff0000;
    width: 100%;
    display: block;    
}

/* Anchors */

a:link              { color:black; text-decoration:underline; }
a:visited           { color:black; text-decoration:underline; }
a:hover             { color:black; text-decoration:underline; }
a:active            { color:black; text-decoration:underline; }  

/* Cover Images */

.box {
      display: table;
  border-style: ridge;
  border-width: 2px;
  border-color: gray;

}

.row {
  display: table-row;
  border-collapse: collapse;
  width: 100%;
}

.cover {
  display: table-cell;
  vertical-align: top;
}

.cover img {
  display: block;
  width: 100%;
  height: auto;
}

/* Full Page Background (History Block) */

div.white {
    background: rgba(255,255,255,0.80);
    border: 1px solid black;
    padding: 10px;        
}

/* Cartouche Background (Infoblock */

.cartouche {
    border-radius: 5px;
    border: 1px solid black;
    font-style: italic;        
    text-align: center;
    background-color: darkgray;
    color: white;
    width: 600px;
}

/* II. INDEX */

/* This is the main index type */

  table.index {

    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    
  }

  /* Index Cells */

  td {
    padding: 2px;
    border-right: 1px solid black;
    font-size: 1.1em;
    text-indent: 2px;
  }

  /* Index Section Head */
  
  td.legend {
    font-weight: bold;
    border-left: 0px;
    border-right: 0px;
  }

  
  /* Categories in Tables */  

  td.indexcat {
    background-color: gainsboro;
    border-radius: 5px;
    border: 1px solid black;
    font-style: italic;
    text-indent: 5px;
  }

  /* Super Categories */
  
  td.indexsupercat,td.country {
      background-color: silver;
  }

    /* Categories with multiple entries */
  
  td.nointernalborders,td.deity {
      border-left: 0px;
      border-right: 0px;
      text-align: left;
      font-style: normal;
  }

  td.deity:first-of-type,td.nointernalborders:first-of-type {
      border-left: 1px solid black;
  }

  td.deity:last-of-type,td.nointernalborders:last-of-type {
      border-right: 1px solid black;
  }  
  
  /* Index Entry */

    /* Left & Right */
  
  td.indent {
      width: 20px;
  }

  /* Bottom */
  
  td.last {

    border-bottom: 1px solid black;
  }

    /* 5 Part Entries */
  
  td.title {
    width: 40%;
  }

  td.system {
    width: 12%;
  }

  td.author {
    width: 38%;
  }

  td.issue {
    width: 4%;
  }

  td.pages {
    width: 9%;
  }  

    /* 5: Combining Title & System */
  
  td.titlepp {
    width: 52%;
  }


    /* 6 Part Entries */
  
  td.title7 {
    width: 36%;
  }

  td.system7 {
    width: 10%;
  }

  td.era7 {
    width: 10%;
  }
  
  td.author7 {
    width: 34%;
  }

  td.issue7 {
    width: 4%;
  }

  td.pages7 {
    width: 9%;
  }  

    /* 6: Combining Title + System */
  
  td.titlepp7 {
    width: 46%;
  }


  /* Bottom of Section info */
  
  ol.index {
    list-style-position: inside;
    padding-left: 0;
  }

/* III. NAVBAR/DROPDOWN */


 /* Dropdown menu from https://www.w3schools.com/howto/howto_css_dropdown_navbar
.asp */
  
/* Navbar container */
  .navbar {
      margin-top: 3px;
      overflow: hidden;
      background-color: gray;
      font-family: Arial;
      text-align: center;
}

/* Links inside the navbar */
  .navbar a {
      display: inline-block;
      padding: 6px 16px;
      font-size: 14px;
      font-weight: bold;
      color: white;
      text-decoration: none;
}

/* The dropdown container */
  .dropdown {
      float: right;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    display: inline-block;
  font-size: 14px;
  border: none;
    padding: 6px 16px;
  outline: none;
  color: white;
  font-weight: bold;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #f00;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* IV TOPICAL INDEX PAGES */

 .maglisting {
     display: grid;
     grid-template-columns: 155px auto 225px;
     
     gap: 2px;
/*     grid-auto-rows: minmax(238px,auto); */

 }

 .magtitle {
     background-color: rgba(255,255,255,0.8);
     color: black;
     background-color: lightgray;
     padding: 3px;     
     font-size: 21px;
      grid-column: span 3;

 }

 .magbreak {
     padding: 7px;
     grid-column: span 3;

 }
 
 .magcover {
     display: flex;
     align-items: center;
     justify-content: center;

 }
 
 .maginfo {
     color: black;
     background-color: rgba(255,255,255,0.5);
     padding: 10px;
     display: flex;
     align-items: center;
     
     
 }

 /* V. TOC */
 
